benchmarks/examplebench/x.examplebench
benchmarks/microbench/x.microbench
benchmarks/microbench/scripts/outputs
benchmarks/microbench/scripts/*.png
benchmarks/macrobench/x.macrobench*
benchmarks/macrobench/OBJS/
benchmarks/macrobench/scripts/outputs
benchmarks/macrobench/scripts/*.png
*.swp
